# Database URL for Prisma
DATABASE_URL="postgres://a307dbd9f9f131c66e2eb6ae7544bcd4715aa02dec90d2831cb631ef4ec1690c:sk_rVkexEGW7JSkm9a5hr9yv@db.prisma.io:5432/postgres?sslmode=require"

# Next.js
NEXT_PUBLIC_APP_URL="http://localhost:3000"
